<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.divijwadhawan.GolfParts.google-signin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.329312429843-5hadb1upt7jif2hgnduthgeb8jop0esi</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>329312429843-5hadb1upt7jif2hgnduthgeb8jop0esi.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>329312429843-fgho99obhq55cntnk9es5m990dr521fb.apps.googleusercontent.com</string>
</dict>
</plist>
